/* Pixel Art Maker CSS */

body {
  font-size: 20px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
}

.fas {
  background-color: pink;
  color: darkgrey;
  border-radius: 25px;
  width: 70px;
  height: 70px;
  margin-top: 40px;
  font-size: 120%;
}

.pixel {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.pixelOff {
  background-color: white;
}


#pallette-board {
  border-left: 2px solid #276dbf;
  border-right: 2px solid #cc2950;
  border-top: 2px solid #2bb566;
  border-bottom: 2px solid #9e27d6;
  display: inline-block;
  margin-top: 30px;
  height: 80px;
  padding-top: 3px;
  
}

#paint {
  border-left: 2px solid darkgrey;
  border-radius: 35px;
  color: white;
  padding: 18px;
  margin-top: 20px;
  margin: auto;
  float: left;
  

}

#paint:active {
  margin: 3px;
}

/* PaintBrush Pallette Below Here*/
.peach{
  background-color: #ffa07d;
}
.forest{
  background-color: #14322c;
}
.lavendar {
  background-color: #a981dd;
}
.skyBlue {
  background-color: #a4f4ff;
}
.grey {
  background-color: #989898;
}
.darkgrey {
  background-color: #494949;
}
.navy {
  background-color: #0d172b;
}
.sunflower {
  background-color: #c9cc2b;
}
.neonGreen {
  background-color: #00ffba;
}
.neonPink {
  background-color: #ff00b8;
}
.tan {
  background-color: #949f68;
}
.lightBlue {
  background-color: #21dbe0;
}
.red {
  background-color: #cc2950;
}
.black {
  background-color: #000000;
}
.blue {
  background-color: #276dbf;
}
.green {
  background-color: #2bb566;
}
.yellow {
  background-color: #dbeb27;
}
.purple {
  background-color: #9e27d6;
}
.brown {
  background-color: #8a7751;
}
.teal {
  background-color: #2fad9e;
}
.pink {
  background-color: #ff6cfe;
}
.blank {
  background-color: white;
}



/**/

#pixel-board {
  padding-top: 10px;
}

table {
  float: left;
}

td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}
