/* Pixel Art Maker CSS */

body {
  font-size: 20px;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.pixel {
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.pixelOff {
/* default empty pixel*/
}

.pixelOn {
  background-color: rgb(203, 75, 106);  
}

.pallette-board {
  border-left: 5px solid #276dbf;
  border-right: 5px solid #cc2950;
  border-top: 5px solid #2bb566;
  border-bottom: 5px solid #9e27d6;
  margin-top: 10px;
  width: 100%;
  padding: 8px;

}

.paint {
  border-left: 2px solid #276dbf;
  border-right: 2px solid #cc2950;
  border-top: 2px solid #2bb566;
  border-bottom: 2px solid #9e27d6;
  border-radius: 20px;
  margin: 2px;
  padding: 2px;
  color: white;
  
}

.paint:active {
  margin: 10px;
}



/* PaintBrush Pallette Below Here*/

.red {
  background-color: #cc2950;
}
.black {
  background-color: #000000;
}
.blue {
  background-color: #276dbf;
}
.green {
  background-color: #2bb566;
}
.yellow {
  background-color: #dbeb27;
}
.purple {
  background-color: #9e27d6;
}
.brown {
  background-color: #8a7751;
}
